@model AnimalViewModel

@{
    ViewData["Title"] = "Edit Animal";
}


<div class="container">
    <h1>Edit Animal</h1>

    @if (ViewBag.UpdateSuccess != null && (bool)ViewBag.UpdateSuccess)
    {
        <div class="alert alert-success">Changes saved successfully.</div>
    }

    <form method="post" asp-controller="EditAnimal" asp-action="SaveChanges">
        <input type="hidden" asp-for="AnimalId" />

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" style="height: 200px"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
